@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var backgroundImage = Model.Value<IPublishedContent>("backgroundimage");
    var imageUrl = backgroundImage.Url();
}
<html>
<head>
    <style>
        body {
            background-image: url('@imageUrl');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
</body>
</html>